.img-user-profile{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.users-content-container{
    display: flex;
    margin-bottom: 20px;
}

.icon{
    width: 10px;
    height: 10px;
}

.repos-content-container{
    display: flex;
}

ul{
    list-style: none;
}